services:
  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    networks:
      - private
    volumes:
      - mysql_data:/var/lib/mysql
  wordpress:
    image: wordpress:latest
    environment:
      WORDPRESS_DB_HOST: ${MYSQL_HOST}:${MYSQL_PORT}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_DEBUG: 1
    depends_on:
      - mysql
    networks:
      - private
      - public
    volumes:
      - wordpress_data:/var/www/html
      - ./plugins/wolf-core:/var/www/html/wp-content/plugins/wolf-core:rw
      - ./plugins/wolf-checkout:/var/www/html/wp-content/plugins/wolf-checkout:rw
      - ./plugins/wolf-events:/var/www/html/wp-content/plugins/wolf-events:rw
      - ./plugins/wolf-subscriptions:/var/www/html/wp-content/plugins/wolf-subscriptions:rw
      - ./themes/wolf:/var/www/html/wp-content/themes/wolf:rw
    labels:
      - traefik.enable=true
      - traefik.http.routers.wordpress.rule=Host(`wolf.docker.localhost`)
      - traefik.http.services.wordpress.loadbalancer.server.port=80
  myadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_HOST=${MYSQL_HOST}
      - PMA_PORT=${MYSQL_PORT}
    depends_on:
      - mysql
    networks:
      - private
      - public
    labels:
      - traefik.enable=true
      - traefik.http.services.phpmyadmin.loadbalancer.server.port=80

networks:
  private:
  public:
    external: true
    name: traefik_webgateway

volumes:
  mysql_data:
  wordpress_data:
