name: wolfs
services:
  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${WORDPRESS_DB_NAME}
      - MYSQL_USER=${WORDPRESS_DB_USER}
      - MYSQL_PASSWORD=${WORDPRESS_DB_PASSWORD}
    networks:
      - private
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d:ro
      - mysql_data:/var/lib/mysql
  wordpress:
    build:
      context: ./wordpress
    environment:
      WORDPRESS_DB_HOST: ${MYSQL_HOST}:${MYSQL_PORT}
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
      WORDPRESS_DEBUG: 1
    depends_on:
      - mysql
    networks:
      - private
      - public
    volumes:
      - wordpress_data:/var/www/html
      - ./wordpress/mail.ini:/usr/local/etc/php/conf.d/mail.ini:ro
      - ../plugins/wolf-core:/var/www/html/wp-content/plugins/wolf-core:rw
      - ../plugins/wolf-checkout:/var/www/html/wp-content/plugins/wolf-checkout:rw
      - ../plugins/wolf-event:/var/www/html/wp-content/plugins/wolf-event:rw
      - ../plugins/wolf-subscription:/var/www/html/wp-content/plugins/wolf-subscription:rw
      - ../plugins/wolf-contact:/var/www/html/wp-content/plugins/wolf-contact:rw
      - ../plugins/wolf-blocks:/var/www/html/wp-content/plugins/wolf-blocks:rw
      - ../plugins/wolf-forms:/var/www/html/wp-content/plugins/wolf-forms:rw
      - ../themes/wolf:/var/www/html/wp-content/themes/wolf:rw
    labels:
      - traefik.enable=true
      - traefik.http.routers.wolfwordpress.rule=Host(`wordpress-wolf.docker.localhost`)
      - traefik.http.services.wolfwordpress.loadbalancer.server.port=80
  myadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_HOST=${MYSQL_HOST}
      - PMA_PORT=${MYSQL_PORT}
    depends_on:
      - mysql
    networks:
      - private
      - public
    labels:
      - traefik.enable=true
      - traefik.http.services.wolfphpmyadmin.loadbalancer.server.port=80
      - traefik.http.routers.wolfphpmyadmin.rule=Host(`myadmin-wolf.docker.localhost`)

networks:
  private:
  public:
    external: true
    name: traefik_webgateway

volumes:
  mysql_data:
  wordpress_data:
